.button
  padding: 0.73rem 1.4rem
  border: none
  border-radius: 2px
  text-transform: uppercase
  &:hover
    cursor: pointer
    outline: none
  &--primary
    background-color: $logoColor
    color: $light
    box-shadow: 0 0.35rem 1.07rem rgba($logoColor, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
      background-color: lighten($logoColor, 10%)
    &--big
        padding: 1.15rem 2.3rem
        font-size: 13px
  &--outline
    color: $light
    background-color: transparent
    border: 1px solid $light
    &:hover
      background-color: lighten($dark, 10%)
    &--big
      padding: 1.2rem 3.2rem
      font-size: 0.8rem
.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  color: $light
  padding: 0.5rem 0
  &::placeholder
    color: $light

.scrollBtn
  &__up
    position: fixed
    right: 0
    bottom: 0
    min-width: 4rem
    min-height: 4rem
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    color: $light
    text-decoration: none
    &:hover
      color: lighten($logoColor, 10%)
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $logoColor
      border-radius: 50%
      transform: rotate(180deg)
    &:hover
      &::after
        border-color: lighten($logoColor, 10%)
    