@media screen and ( max-width: 1437px  )
  .container
    width: 87.714rem
    .logo
      margin-left: 4.5rem
  .nav
    &__item
      margin-right: 1.8rem
  .hero
      &__content
        margin-left: 2rem
  .hero
    &__content
      margin-left: 7rem

@media screen and ( max-width: 1256px )
  html
    font-size: 12px
  .container
    max-width: 94%
    width: 86.714rem
    .logo
      margin-right: 5.0rem
  .nav
    &__item
      margin-right: 1.3rem
  .phone
      margin-right: 1.5rem
  .card
    &__image
      width: 100%
    &__text
      width: 85%
    


@media screen and ( max-width: 992px )
  .nav
    &__item
      display: none
  .instagram
    display: none
  .hero
    &__content
      margin-left: 0
  .container
    .logo
      margin-left: 0
  .row
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: flex-start
    .col-30
      display: flex
      justify-content: center
      min-width: 48%
      .card
        max-width: 95%
  .section
    &-title
      &__text
        max-width: 27.57rem

@media screen and ( max-width: 768px )
  .section
    &-title
      &__heading
        font-size: 1.8rem
      &__text
        margin: 2rem auto 3rem auto
        font-size: 1.28rem
        max-width: 27.57rem
      &__word
        justify-content: center
        &::after
          display: none
      &--left
        text-align: center
  .container
    .logo
      margin-left: 0
  .row
    display: flex
    justify-content: center
    .col-30
      max-width: 90%
      .card
        &__text
          width: 90%
          // max-width: 18.6rem
          margin-left: 0
        &__title
          font-size: 1.16rem
  .swiper
    &-slide
      &-image
        margin-top: 0
      &-top
        order: -1
        width: 100%
  .col-50
    width: 100%
  
@media screen and ( max-width: 576px )
  .container
    padding: 0 0
    .logo
      margin-left: 0.5rem
      margin-right: 3rem
  .button
    width: 98%
    margin-top: 2rem
    padding: 2rem 0
  .contacts
    &__phone
      color: #ffffff
      text-decoration: none
      &:hover
        color: lighten($logoColor, 10%)
    &__button
      display: none
  .hero
    // &__content
      // padding: 0rem 1rem 0 1rem
    &__scroll
      display: none
    &__title
      font-size: 1.91rem
      max-width: 27rem
    &__text
      font-size: 1.5rem
  .title
    line-height: 2.8rem
  .row
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .col-30
      .card
        max-width: 100% 
        &__image
          width: 100%
        &__text
          font-size: 1rem
          width: 19.8rem
          margin-left: 0
        &__title
          font-size: 1.25rem
  .modal
    &__dialog
      max-width: 24rem
      form
        input
          font-size: 1rem
    &__title
      font-size: 1.157rem
    .modal__button--min
      max-width: 15.72rem
      margin: auto
      padding: 1rem 3rem
  .swiper
    &__switch
      justify-content: center

  .projects
    padding-bottom: 73.5rem
  .control
    &__section-title
      margin-top: -73.5rem
    &__text
      color: $light
      max-width: 29.285rem
      font-size: 1.20rem
      line-height: 169.8%
      margin-bottom: 2.228rem
      &::before
        margin-bottom: 1.5rem
    &__input-group
      width: 100%
      color: $light
      order: 1
      input
        color: #fff
        margin-bottom: 5.2rem
        border-color: $light
    &__button
      padding: 1.428rem 8.857rem
      order: 3
      margin-top: 2rem
    &__policy
      order: 2
      margin-top: -4.2rem
      margin-bottom: 3.1rem
      color: $light
      &-label
        justify-content: flex-start
  .video
    min-height: 17rem
    width: 98%
    margin-bottom: 2.428rem
    &__play
      max-width: 5rem 
  .design
    margin-bottom: 0
  .footer
    &__wrap
      margin-top: 0
      padding: 0
    &__menu
      display: none
    &__form
      flex-direction: column
      width: 95%
      justify-content: flex-start
    &__title
      font-size: 1.67rem
    &__input-group
      padding-top: 1.2rem
      margin-bottom: 4.4rem
      input
        border-color: $light
    &__button
      padding: 1.357rem 0
      width: 100%
    &__policy
      margin-top: -4rem
      margin-right: auto
@media screen and ( min-width: 768px )
  .section
    &-title
      &__description
        max-width: 53rem
    
  
@media screen and ( min-width: 991px )
  .design
    background-color: $light
    &__section-title
      color: #000
  