
@media screen and ( min-width: 1438px )
  .container
    max-width: 89.714rem
    margin: 0 auto
  .logo
    margin-left: -0.7rem
  .contacts
    &__phone
      margin-right: 3.2rem

@media screen and ( max-width: 1438px  )
  .container
    width: 87.714rem
    margin: 0 auto

@media screen and ( max-width: 1256px   )
  html
    font-size: 12px
  .container
    max-width: 88%
    width: 84.714rem
    margin: 0 auto
  .logo
    margin-right: 3.6rem
  // .nav
  //   &__item
  //     margin-right: 1.1rem
  // .contacts
  //   &__phone
  //     margin-right: 1.5rem
  