@media screen and ( max-width: 1437px  )
  .container
    width: 87.714rem
  .nav
    &__item
      margin-right: 1.8rem

@media screen and ( max-width: 1256px )
  html
    font-size: 12px
  .container
    max-width: 88%
    width: 84.714rem
  .logo
    margin-left: 1.5rem
    margin-right: 3rem
  .nav
    &__item
      margin-right: 1.3rem
  .phone
      margin-right: 1.5rem

@media screen and ( max-width: 992px )
  .nav
    &__item
      display: none
  .instagram
    display: none
  .hero
    &__content
      margin-left: 0
  .logo
    margin-left: 0

@media screen and ( max-width: 576px )
  html
    font-size: 0.6rem
  .hero
    &__content
      margin-left: 0
  .button
    width: 100%
    margin-top: 2rem
  .contacts
    &__phone
      color: #ffffff
      text-decoration: none
      &:hover
        color: lighten($logoColor, 10%)
    &__button
      display: none
  .hero
    &__scroll
      display: none
    &__title
      font-size: 2.3rem
  .title
    line-height: 3rem
    


  