
*, *:before, *:after
  box-sizing: border-box


html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem 
img
  max-width: 100%
.section
  padding: 4rem 0
  &-title
    text-align: center
    &__heading
      text-transform: uppercase
      font-family: 'Yeseva one', cursive
      font-weight: 400
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 32px
        height: 2px
        background-color: $logoColor
        margin: 0 10px 
    &__description
      margin: 1.64rem auto 3rem auto
      font-size: 1.07rem
      line-height: 135%
      max-width: 21.86rem

      