.header
  position: fixed
  left: 0
  top: 0
  z-index: 99
  background-color: $dark
  padding: 1.71rem 0
  width: 100%
  max-width: 89.714
.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  color: $logoColor
  text-transform: uppercase
  font-family: 'Futura Demi'
  margin-right: 7.6rem
  margin-left: -0.7rem

.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 2.65rem
    transition: color 0.2s
    &:hover
      color: $logoColor

.phone
  color: $logoColor
  &:hover
    color: lighten($logoColor, 10%)

.contacts
  &__phone
    margin: 0 3.1rem 0 5.2rem
  &__button
    margin-right: 0.6rem 

