.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding: 22px 0

.menu
  display: flex
  justify-content: center
  align-items: center

.logo
  color: $logoColor
  text-transform: uppercase
  font-family: 'Futura Demi'

.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 40px
    transition: color 0.2s
    &:hover
      color: $logoColor
  &__a
    display: flex
    align-items: center

.phone
  color: $logoColor
  &:hover
    color: lighten($logoColor, 10%)

.contacts
  &__phone
    margin-right: 45px

