.header
  background-color: $dark
  padding: 24px 0

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  color: $logoColor
  text-transform: uppercase

.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 40px

.phone
  color: $logoColor

.contacts
  &__phone
    margin-right: 45px

