.hero
  position: relative
  background: $dark url('../img/hero_bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  display: flex
  align-items: center
  justify-content: center
  padding-bottom: 1.4rem
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 3.46rem
    background-color: $dark
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll
    position: absolute
    z-index: 3
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    color: $light
    text-decoration: none
    &:hover
      color: lighten($logoColor, 10%)
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $logoColor
      border-radius: 50%
      margin-left: 12px
    &:hover
      &::after
        border-color: lighten($logoColor, 10%)
  &__content
    position: relative
    margin-left: 3.65rem 
    max-width: 47.85rem
  &__text
    font-size: 1.58rem
    line-height: 2.2rem
    max-width: 35.71rem
    margin-bottom: 3.1rem
    margin-top: -1rem
  &__button
    margin-right: 1.2rem
.button--outline--big
  padding: 1.2rem 3.3rem
  font-size: 13px
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    display: flex
    align-items: center 
    text-decoration: none
    text-transform: uppercase
    color: $logoColor
    transform: rotate(90deg)
    font-family: 'Futura Demi'
    line-height: 0.9
    &:hover
      color: lighten($logoColor, 10%)
    &::after
      content: ''
      width: 3.7rem
      height: 1px
      background-color: $logoColor
      margin-left: 0.95rem
.title
  font-family: 'Yeseva One'
  font-size: 2.85rem
  text-transform: uppercase
  font-weight: normal
  line-height: 3.8rem
  margin-top: 2.4rem
  &--primary
    color: $logoColor